<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.demo.dao.OrderMapper">

<!--        <select id="selectOrder" resultMap="GoodsOrder">-->
<!--          select *-->
<!--          from goods g,orders o-->
<!--          where g.conId = o.orderId and o.orderId=#{oid}-->
<!--       </select>-->

    <insert id="addOrder" parameterType="order">
      insert into mybatis.orders(orderId,orderDep,orderName,orderDate)
      values (#{orderId},#{orderDep},#{orderName}, #{orderDate})
   </insert>

    <select id="selectOrderById" resultMap="GoodsOrder">
          select *
          from goods,orders
          where goods.conId = orders.orderId and orders.orderId=#{oid}
       </select>

    <select id="selectAllOrder" resultMap="GoodsOrder">
          select *
          from goods,orders
          where goods.conId = orders.orderId
       </select>

        <resultMap id="GoodsOrder" type="Order">
            <result  property="orderName" column="orderName"/>
            <result  property="orderDep" column="orderDep"/>
            <result  property="orderDate" column="orderDate"/>
            <result  property="orderId" column="orderId"/>
            <collection property="itemGoods" ofType="Goods">
                <result property="goodsId" column="goodsId" />
                <result property="goodsName" column="goodsName" />
                <result property="goodsType" column="goodsType" />
                <result property="goodsNum" column="goodsNum" />
                <result property="goodsAddress" column="goodsAddress" />
                <result property="goodsTime" column="goodsTime" />
                <result property="conId" column="conId" />
            </collection>
        </resultMap>
</mapper>